<html>
    <head>
        <title>Hackathon - Preview</title>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Time</div>
                <div class="col col-2">Photo</div>
                <div class="col col-3">Name</div>
              </li>
              {% if new>0 %}
              <a href="/new"><button class="button-hack" role="button-hack">Register new Captures ({{ new }})</button></a>>
              {% endif %}
              {% for set in data %}
              {% if set.fname %}
              <li class="table-row">
                <div class="col col-1" data-label="time">{{set.time}}</div>
                <div class="col col-2" data-label="photo"><img style="width:300px" src="images/{{set.path}}"></div>
                <div class="col col-3" data-label="name">{{set.fname}}</div>
              </li>
            {% endif %}
              {% endfor %}
            </ul>
          </div>
    </body>
</html>
