<html>
    <head>
        <title>Hackathon - Add</title>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Time</div>
                <div class="col col-2">Photo</div>
                <div class="col col-3">Name</div>
              </li>
              {% if new>0 %}
              <a href="../"><button class="button-hack" role="button-hack">Back to home</button></a>
              {% endif %}
              {% for set in data %}
              <li class="table-row">
                <div class="col col-1" data-label="time">{{set.time}}</div>
                <div class="col col-2" data-label="photo"><img style="width:300px" src="images/{{set.path}}"></div>
                <div class="col col-3" data-label="name">
                    <select name="Search4" onchange="$('#myform').submit();">
                    {% for name in names %}
                    <option value="{{name['fname']}}">{{name['fname']}} {{name['lname']}}</option> 
                    {% endfor %}   
                </select>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
    </body>
</html>
